{% extends 'base.html.twig' %}

{% block title %}Flo'srent - Connexion{% endblock %}

{% block body %}
<div class="container-fluid text-center">
	<div class="row mt-lg-1 mt-sm-3">
		<div class="row-logo col-lg-2 col-md-2 col-sm-2 d-flex align-self-end p-0">
			<img src="{{ asset('/medias/characters/Chimiste_origin.png') }}" class="lg-perso img-fluid">
		</div>
		<div class="col-lg-3 col-sm-5 col-md-4 ms-md-2 p-0 d-flex align-self-end ms-lg-3">
			<img src="{{ asset('/medias/about/logo.png') }}" alt="Le logo du site" id="logo" class="img-fluid mt-lg-5 mb-5">
		</div>
	</div>
</div>


    <section class="container-fluid pt-lg-0 p-0 noScroll--xs mt-5 mt-sm-0">
        <div class="row p-0 container-fluid m-0">
            <div class="div-login text-center col-lg-6 col-md-7 col-sm-8 app-border mt-sm-0 mt-3 p-lg-4">
                <form method="post" class="pt-1">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <label for="inputUsername" class="form-label">Email</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control ms-auto me-auto" autocomplete="username" required autofocus>
                    <label for="inputPassword" class="form-label mt-3">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control ms-auto me-auto mb-3" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                    <button class="btn mb-lg-3 mt-lg-3 btn-login purple-hover" type="submit">SE CONNECTER</button>
                </form>
                <div class="row">
                    <a href="#" class="p-0 col"><button type="button" class="col-5 mb-lg-0 btn purple-hover p-2">Inscription</button></a>
                    <a href="#" class="p-0 col"><button type="button" class="col-5 mb-lg-0 btn purple-hover p-2">Mot de passe oublié ?</button></a>
                </div>
            </div>
            <div class="lg-perso align-item-end col-lg-2 col-sm-3 p-lg-0 m-lg-0">
                <img src="{{ asset('/medias/characters/Testeur_origin.png') }}" class="img-fluid rotate pc-noDisplay" id="testeur-noDisplay">
            </div>
        </div>  
    </section>
    <footer class="p-0 footer--bottom">
        <div class="d-xl-flex justify-content-between" id="footer">
            <div class="lg-perso col-lg-2 col-sm-3">
                <img src="{{ asset('/medias/characters/Cobaye_origin.png') }}" class="img-fluid">
            </div>
            <div class="lg-perso col-lg-2 col-sm-3">
                <img src="{{ asset('/medias/characters/Laborantin_origin.png') }}" class="img-fluid">
            </div>
        </div>
        <div class="text-center container-fluid p-0 pc-noDisplay">
            <img src="{{ asset('/medias/about/login-perso.png') }}" alt="Image du footer" class="img-fluid">
        </div>
    </footer>

{% endblock %}
