@media (min-width: 576px) { 
    footer {
        bottom: 0;
    }
    #footer {
        display: flex;
    }
    .row-logo {
        margin-left: 15%;
    }
    .form-control {
        width: 70%;
    }
    .app-border {
        border: 3px solid #000;
        border-radius: 10px;
    }
    .div-login {
        margin-left: 20%;
    }
    .pc-noDisplay {
        display: none;
    }
}


