/*template*/
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav_button {
    width: 100%;
    border: solid 2px #000;
    background-color: #ddd;
}

.nav_button:hover {
    background-color: #ac7cdc;
    color: white;
}

.button_icon:hover {
    color: #ac7cdc;
}

.nav_div_icon {
    margin-top: 90%;
}

.button_icon {
    font-size: 3em;
    margin: 10%;
    cursor: pointer;
    color: #000;
}

.nav_icon:hover {
    color: #ac7cdc;
}

section {
    border: 2px solid #000;
    width: 100%;
}

/*Account*/
.div_inscription {
    border: 2px solid #ac7cdc;
}

.div_inscription-request {
    border: 2px solid #000000;
    margin-top: 3%;
}

.icon_button {
    cursor: pointer;
    font-size: 2em;
}

.icon_button--delete {
    color:firebrick;
}

.icon_button--accept {
    color: forestgreen;
}

.icon_button--dropdown {
    color: #ac7cdc;
}

.info_account {
    margin-top: auto;
    margin-bottom: auto;
}

.button {
    border: 2px solid #ac7cdc;
}

/* other */

.nbb {
    border-bottom: none;
}

.nbt {
    border-top: none;
}