@media (max-width: 576px) { 
    header {
        margin-top: 5%;
    }

    .form-control {
        width: 100%;
    }

    .app-border {
        border: 3px solid #000;
        border-radius: 10px;
    }

    .btn-login {
        width: 100%;
        height: 45px;
    }
    .lg-perso {
        display: none;
    }
    
}