body,html,section {
    width: 100%;
    height: 100%;
}
.noScroll--xy {
    overflow-y: hidden;
    overflow-x: hidden;
}
.noScroll--x {
    overflow-x: hidden;
}
footer {
    position:absolute;
    width: 100%;
    z-index: 0;
}
.footer--bottom {
    bottom: 0;
}
.rotate {
    transform: rotate(90deg);
}
.purple-hover:hover {
    background-color: #ac7cdc;
    color: #fff;
}
.div-login {
    z-index: 2;
    box-shadow: 0px 10px 10px #ac7cdc;
}
.form-control, #selectAdmin {
    height: 40px;
    font-size: larger;
    border: 2px solid #000;
    border-radius: 10px;
}
.btn-login {
    width: 70%;
    height: 70px;
    background-color: #dddddd;
    border-radius: 10px;
}
