
<header class="col-3 pe-0">
    <img class="col-12" src="{{ asset('medias/about/logo.png') }}" alt="Le logo du site">
    <nav class="col-12 mt-4">
        <button type="button" class="btn btn-outline-dark nav_button text-center mb-0 p-3 nbb" onclick="genereSection('explorations')">Explorations</button>
        <button type="button" class="btn btn-outline-dark nav_button text-center mb-0 p-3 nbb" onclick="genereSection('account')">Comptes</button>
        <button type="button" class="btn btn-outline-dark nav_button text-center mb-0 p-3" onclick="genereSection('stats')">Statistiques</button>

        <div class="nav_div_icon text-center">
            <a href="#"><i class="fas fa-cog button_icon"></i></a>
            <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt button_icon"></i></a>
        </div>
    </nav>
</header>
