{% block body %}
	<div class="div_inscription container-fluid mt-3 mb-3 p-1">
		<h2 class="mb-4">Demandes d'inscriptions</h2>
		<div class="div_inscription-request m-2 p-1 row">
			<p class="col">pseudo</p>
			<p class="col">maildumec@gmail.com</p>
			<p class="col">reçu le 24/05/21 à 14h16</p>
			<div class="col-2 text-center" id="div_request_icon">
				<i class="fas fa-check icon_button icon_button--accept p-0"></i>
				<i class="fas fa-trash-alt icon_button icon_button--delete ms-5 p-0"></i>
			</div>
		</div>
		<div class="div_inscription-request m-2 p-1 row">
			<p class="col">pseudo</p>
			<p class="col">maildumec@gmail.com</p>
			<p class="col">reçu le 24/05/21 à 14h16</p>
			<div class="col-2 text-center" id="div_request_icon">
				<i class="fas fa-check icon_button icon_button--accept p-0"></i>
				<i class="fas fa-trash-alt icon_button icon_button--delete ms-5 p-0"></i>
			</div>
		</div>
	</div>

	<h2 class="mb-4">Comptes Utilisateurs</h2>

	<div class="row div_inscription-request m-2 p-1">
		<p class="col">pseudo</p>
		<p class="col">maildumec@gmail.com</p>
		<div class="col-2 text-center">
			<i class="fas fa-chevron-down col icon_button icon_button--dropdown"></i>
		</div>
	</div>

	<div class="accordion" id="div_accordion">
		<div class="row div_inscription-request m-2 mb-0 p-1 accordion-item">
			<p class="col">pseudo</p>
			<p class="col">maildumec@gmail.com</p>
			<div class="col-2 text-center">
				<i class="fas fa-chevron-down col icon_button icon_button--dropdown" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
			</div>
		</div>

		<div class="row div_inscription-request p-1 accordion-collapse collapse mt-0 m-2 nbt" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#div_accordion">
			<div class="col ">
				<div class="row">
					<p class="col">Nom</p>
					<p class="col">Prenom</p>
				</div>
				<p>Inscrit le 24/05/21 à 14h35</p>
			</div>
			<p class="col info_account">780 points</p>
			<p class="col info_account">N°Badge: 12-159</p>
			<div class="col">
				<button type="button" class="btn button mt-3">Créer le badge</button>
			</div>
			<div class="col-2 text-center info_account">
				<i class="fas fa-chart-bar icon_button p-0"></i>
				<i class="fas fa-trash-alt icon_button icon_button--delete ms-5 p-0"></i>
			</div>
		</div>
	</div>

	<div class="row div_inscription-request m-2 p-1">
		<p class="col">pseudo</p>
		<p class="col">maildumec@gmail.com</p>
		<div class="col-2 text-center">
			<i class="fas fa-chevron-down col icon_button icon_button--dropdown"></i>
		</div>
	</div>
{% endblock %}
